@using Microsoft.AspNetCore.Components.Web
@namespace Microsis.Web.Reserved.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Microsis.Web.Reserved.styles.css" rel="stylesheet" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <title>Microsis - Area Amministrativa</title>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Si è verificato un errore. L'applicazione potrebbe non rispondere fino a quando non viene ricaricata.
        </environment>
        <environment include="Development">
            Si è verificato un errore non gestito. Vedere la console di sviluppo per i dettagli.
        </environment>
        <a href="" class="reload">Ricarica</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
