@page "/privacy-policy"
@layout MainLayout

<div class="container privacy">
    <h1>Privacy Policy</h1>
    <div class="row">
        <div class="col-md-12">
            @* Contenuto Privacy Policy *@
            <section id="introduzione">
                <h2>Introduzione</h2>
                <p>La presente Privacy Policy descrive le modalità con cui Microsis Srl (in seguito "Noi" o "Microsis") gestisce e protegge i dati personali che raccoglie dai suoi utenti attraverso il presente sito web.</p>
            </section>

            <section id="dati-raccolti">
                <h2>Dati Raccolti</h2>
                <p>
                    Raccogliamo i seguenti tipi di dati personali:<br />
                    - Informazioni di accesso (nome utente, password, indirizzo email)<br />
                    - Dati di navigazione (cookie, indirizzo IP, pagine visitate)
                </p>
            </section>

            <section id="finalita">
                <h2>Finalità del trattamento</h2>
                <p>I dati vengono trattati per scopi legittimi, tra cui la gestione degli account utente e l'ottimizzazione del sito.</p>
            </section>

            @* Aggiungi altre sezioni (es. Diritti dell'Utente, Contatti) *@
        </div>
    </div>
</div>

@code {
    // Eventuali logiche di backend aggiuntive
}