@page "/settori"
<PageTitle>Microsis - Settori  </PageTitle>

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="section-title">Settori</h1>
            <p class="lead">
                Offriamo soluzioni tecnologiche avanzate per i settori civile, militare e spaziale, combinando expertise hardware e software per rispondere alle sfide più complesse.
            </p>
        </div>
    </div>
    <!-- CONTENUTO ...-->
</div>
@code {

}
